<a href="/zmogus">Prideti nauja zmogu</a>
{{!-- <button onclick="showDom" --}}

<table>
    <thead>
        <tr>
            <th>Vardas</th>
            <th>Pavarde</th>
            <th>Alga</th>
        </tr>
    </thead>
    <tbody>
        {{#each zmones}}
        <tr>
            <td><a href="/zmogus/{{id}}">{{vardas}}</a></td>
            <td><a href="/zmogus/{{id}}">{{pavarde}}</a></td>
            <td>{{alga}}</td>
            <td><a href="/zmogus/{{id}}/delete">X</a></td>
            {{!-- <td><a href="/zmogus/{{id}}">patikslinti</a></td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>